# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# FAISS / Index artifacts
index/*.index
index/*.pkl

# Logs
*.log

# Jupyter
.ipynb_checkpoints/